.signup {
  min-height: 100vh;
  .formContainer {
    max-width: 430px;
    position: relative;
  }
  .formTopLogo {
    width: 110px;
    height: 110px;
    padding: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: white;
  }
}
